<div class="hover">

<li>
<p> <%= task.name %>



</p>  


<div class="pull-right btx">




<% if task.done == true %>

 <img src="https://www.flytap.com/-/media/Flytap/reserved-area/benefits/check-in.svg">

<% end %>

<% unless action_name == "show" %>












<div type="button" class="btn btn-info">


<%= link_to "Show", user_task_path(@user, task) %>

</div>

<% end %>

	<div type="button" class="btn btn-warning">

		<%= link_to "Edit", edit_user_task_path(@user, task) %>

	</div>

	<div type="button" class="btn btn-danger">
		<%= link_to "Delete", user_task_path(@user, task), method: :delete %>

	</div>




	



</div>


</li>



<br>


</div>







